body {
    background:url(../images/wargame.jpg);
}
h1 {
    font-size:large;
    color:yellow;
}
#intro {
     background:url(../images/sol.png) no-repeat;
    color:#ff6a00;
}
#route1{
    background:url(../images/search.jpg);
    color:greenyellow;
}
#route2 {
    background:url(../images/search.jpg);
    color:greenyellow;
}
#route3 {
    background:url(../images/search.jpg);
    color:greenyellow;
}
#route4 {
    background:url(../images/search.jpg);
    color:greenyellow;
}
#route5 {
    background:url(../images/search.jpg);
    color:greenyellow;
}
#route6 {
    background:url(../images/search.jpg);
    color:greenyellow;
}
#route7 {
    background:url(../images/dead.jpg) no-repeat;
    color:red;
}
#route8 {
    background:url(../images/landmine.jpg) no-repeat;
    color:red;
}
#route9 {
    background:url(../images/landmine.jpg) no-repeat;
    color:red;
}
#route10 {
    background:url(../images/dead.jpg) no-repeat;
    color:red;
}
#route11 {
    background:url(../images/landmine.jpg) no-repeat;
    color:red;
}
#route12 {
    background:url(../images/dead.jpg) no-repeat;
    color:red;
}
#route13 {
    background:url(../images/dead.jpg) no-repeat;
    color:red;
}
#route14 {
    background:url(../images/dead1.jpg);
    color:yellow;
}